html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(57, 54, 59, 0.959),
      rgba(57, 54, 59, 0.959)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
  
    --imp-text-color: orangered;
  }
  .maincolor {
    color: var(--imp-text-color) !important;
  }
  button:focus {
    box-shadow: none !important;
  }
  
  
  /* Preloader */
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: rgba(57, 54, 59, 1);
    background-image: url(./Assets/organge-loader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px; /* Change size here */
  }
  
  #preloader-none {
    opacity: 0;
  }
  
  #no-scroll {
    overflow: auto !important;
    height: 100vh;
  }
  
  /* Scrollbar   */
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(57, 54, 59, 0.959);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 54, 59, 0.959);
    border-radius: 12px;
  }
  
  /* Navbar Section  */

  /* Default Navbar Styling (Opaque Background When At Rest) */
  .navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 69, 0, 0.8) !important; /*  Opaque orange */
    transition: background-color 0.3s ease-out !important;
    padding: 0.3rem 2rem !important;
  }

/* When Scrolled (Solid Background) */
  .sticky {
    background-color: orangered !important; /*  Fully solid color */
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
  }

  
  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    background-color: orangered !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding: 1rem 2rem !important;
      font-size: 1.4rem !important;
      background-color: #181a27 !important;
    }
    .navbar-nav .nav-item a::after {
      display: none !important;
    }
  }
  .navbar-brand {
    color: rgb(250, 250, 250) !important;
  }
  
  .logo {
    height: 1.4em !important;
    width: 2.5em !important;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .nav-link {
    padding: 0.8rem 1rem !important;
  }
  
  @media (max-width: 767px) {
    .nav-link {
      padding: 0.7rem 1rem !important;
    }
  }
  
  .navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
  }
  
  .navbar-nav .nav-item a {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
    transition: letter-spacing 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .navbar-nav .nav-item a:hover {
    transform: scale(1.1); /* Grows to 110% of its original size */
}
  .navbar-nav .nav-item a:hover::after {
    width: 100%;
  }
  
  /* Home section */
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-section {
    z-index: -1;
    background-image: var(--image-gradient), url(./Assets/home-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
    background-size: cover;
  }

  .circular-image {
    width: 100%;  /* Ensures it scales properly */
    max-width: 250px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /*  Makes it a perfect circle */
    object-fit: cover; /*  Ensures the image is cropped properly */
    border: 4px solid orangered; /* Optional: Adds a white border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow */
  }  
  
  .circular-profile-image {
    width: 75%;  /* Ensures it scales properly */
    max-width: 150px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%; /*  Makes it a perfect circle */
    object-fit: cover; /*  Ensures the image is cropped properly */
    border: 4px solid orangered; /* Optional: Adds a white border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow */
  }  

  .home-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 50px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: orangered;
    font-family: sans-serif;
  }
  
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: orangered !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: orangered !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
  }
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }

  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
    background: rgba(57, 54, 59, 0.959) !important; 
  }
  
  .home-about-description {
    color: white !important;
    padding-top: 50px !important;
    padding-bottom: 20px !important;
    text-align: left;
  }
  
  .home-about-body {
    padding-top: 20px;
    font-size: 1.2em !important;
    text-align: left;
    max-width: 720px;
  }
  
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #68187a;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #801f95;
  }
  
  .home-social-icons:hover {
    color: #87209e;
    box-shadow: 0 0 5px #87209e;
    text-shadow: 0 0 2px #87209e;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .icon-colour {
    color: #700c86 !important;
  }
  
  /* Footer */

.footer {
    background-color: rgb(29, 28, 32);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
}

.footer-copywright {
    text-align: left !important;
}

.footer-body {
    z-index: 1;
    text-align: right !important; /*  Aligns icons to the right */
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center !important;
    }

    .footer-body {
        text-align: center !important;
    }
}

.footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  gap: 20px; /*  Adds spacing between icons */
}

/* Ensure individual social icons have spacing */
.social-icons {
    display: inline-block;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons a:hover {
    transform: scale(1.1);
    color: orangered;
}

  
  .blockquote-footer {
    color: #a588c0 !important;
  }
 
  .btn-primary {
    color: #fff !important;
    background-color: rgba(44, 42, 46, 0.959) !important; 
    border-color: rgba(57, 54, 59, 0.959) !important;
  }
  
  .btn-primary:hover {
    color: #fff !important;
    background-color: orangered !important;
    border-color: orangered !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .project-heading {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
  }
  
  /* About */
  
  .about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
  }

  .about-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important; /*  Smooth transition effect */
  }

  .about-icons:hover {
    background-color: orangered !important; /*  Change background color */
    color: white !important; /*  Change icon color */
    border-color: white !important; /*  Change border color */
  }
  
  .shake {
    animation-name: shake-animation;
    animation-duration: 1.2s; /* Adjust speed */
    animation-iteration-count: infinite; /* Keeps shaking */
    animation-timing-function: ease-in-out; /* Smooth effect */
    transform-origin: center;
    display: inline-block;
  }

  @keyframes shake-animation {
    0% { transform: translateX(0); }
    20% { transform: translateX(-3px) rotate(-2deg); }
    40% { transform: translateX(3px) rotate(2deg); }
    60% { transform: translateX(-3px) rotate(-2deg); }
    80% { transform: translateX(3px) rotate(2deg); }
    100% { transform: translateX(0); }
  }

  .tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid orangered !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important; /*  Smooth transition effect */
  }

/* Change icon color on hover */
  .tech-icons:hover {
    background-color: orangered !important; /*  Change background color */
    color: white !important; /*  Change icon color */
    border-color: white !important; /*  Change border color */
    animation: shake-animation 0.5s ease-in-out infinite; /* Runs only on hover */
  }

  
  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }
  
  .quote-card-view {
    border: none !important;
    color: white !important;
    background-color: transparent !important;
  }
  
  .about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
  }
  
  @media (max-width: 767px) {
    .about-img {
      padding-top: 0 !important;
    }
  }

  /* Resume */
  
  .resume-section {
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
    overflow: auto !important;
  }
  
  .resume {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
  
  .resume-left {
    padding-right: 80px !important;
  }
  
  .resume-right {
    padding-left: 80px !important;
  }
  
  @media (max-width: 767px) {
    .resume-left {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  
    .resume-right {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }
  .resume .resume-title {
    font-size: 2em;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .resume .resume-item {
    padding: 0 0 10px 25px;
    margin-top: -2px;
    border-left: 2px solid #8a49a8;
    position: relative;
  }
  
  .resume .resume-item .resume-title {
    line-height: 18px;
    font-size: 0.9em;
    background: rgba(57, 54, 59, 0.959);
    padding: 8px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
    text-align: justify;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
    list-style: none;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #8a49a8;
  }
  
  .like-item {
    padding-top: 10px !important;
    font-size: 1.1em !important;
    font-family: sans-serif !important;
  }
  
  .like-btn {
    background-color: #934cce5e !important;
    border-color: #934cce5e !important;
    padding: 0.25rem 0.98rem !important;
    border-radius: 5px !important;
    line-height: 1.4 !important;
    transition: 0.3s ease !important;
  }
  
  .like-btn:hover {
    transform: translateY(-2px) !important;
    background-color: #a24dd386 !important;
    border-color: #a24dd386 !important;
  }
  
  .animate-like {
    animation-name: likeAnimation;
    animation-fill-mode: forwards;
    animation-duration: 0.85s;
  }
  @keyframes likeAnimation {
    0% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  